USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 5/10/2016 11:31:17 PM ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FinalProject.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FinalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FinalProject_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[MAGIAOVIEN] [nchar](10) NULL,
	[TENDANGNHAP] [nchar](50) NOT NULL,
	[MATKHAU] [nchar](50) NULL,
	[MALOAI] [nchar](10) NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MAHOCSINH] [nchar](10) NOT NULL,
	[MAMON] [nchar](10) NULL,
	[HOCKY] [nchar](10) NULL,
	[NAMHOC] [nchar](10) NULL,
	[DIEMMON] [float] NULL,
	[HESO] [tinyint] NULL,
 CONSTRAINT [PK_DIEM_1] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGIAOVIEN] [nchar](10) NOT NULL,
	[HOGIAOVIEN] [nvarchar](50) NULL,
	[TENGIAOVIEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[DIACHI_SONHA] [nvarchar](50) NULL,
	[DIACHI_XA_PHUONG] [nvarchar](50) NULL,
	[DIACHI_QUAN_HUYEN] [nvarchar](50) NULL,
	[DIACHI_TINH_THANHPHO] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[MATOBOMON] [nchar](10) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANHKIEM]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANHKIEM](
	[MAHOCSINH] [nchar](10) NULL,
	[XEPLOAIHANHKIEM] [nvarchar](50) NULL,
	[HOCKY] [nchar](10) NULL,
	[NAMHOC] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKY_NAMHOC]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY_NAMHOC](
	[HOCKY] [nchar](10) NOT NULL,
	[NAMHOC] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOCKY_NAMHOC] PRIMARY KEY CLUSTERED 
(
	[HOCKY] ASC,
	[NAMHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCLUC]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCLUC](
	[MAHOCSINH] [nchar](10) NULL,
	[XEPLOAIHOCLUC] [nvarchar](50) NULL,
	[HOCKY] [nchar](10) NULL,
	[NAMHOC] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[STT] [tinyint] IDENTITY(1,1) NOT NULL,
	[MAHOCSINH] [nchar](10) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
	[HOHOCSINH] [nvarchar](50) NULL,
	[TENHOCSINH] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](50) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[DIACHI_SONHA] [nvarchar](50) NULL,
	[DIACHI_XA_PHUONG] [nvarchar](50) NULL,
	[DIACHI_QUAN_HUYEN] [nvarchar](50) NULL,
	[DIACHI_TINH_THANHPHO] [nvarchar](50) NULL,
	[HOTENCHA] [nvarchar](50) NULL,
	[HOTENME] [nvarchar](50) NULL,
	[NGHENGHIEPCHA] [nvarchar](50) NULL,
	[NGHENGHIEPME] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHOCSINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOILOP]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOILOP](
	[MAKHOI] [nchar](10) NOT NULL,
	[TENKHOI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOILOP] PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[MAKHOI] [nchar](10) NULL,
	[TENLOP] [nvarchar](50) NULL,
	[MAGIAOVIEN] [nchar](10) NULL,
	[SISO] [tinyint] NULL,
	[HOCKY] [nchar](10) NOT NULL,
	[NAMHOC] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMON] [nchar](10) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[SOTIET] [tinyint] NULL,
	[HESO] [tinyint] NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANCONGGIAOVIEN]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGGIAOVIEN](
	[MAGIAOVIEN] [nchar](10) NULL,
	[MAMON] [nchar](10) NULL,
	[MALOP] [nchar](10) NULL,
	[HOCKY] [nchar](10) NULL,
	[NAMHOC] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOBOMON]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOBOMON](
	[MATOBOMON] [nchar](10) NOT NULL,
	[TENBOMON] [nvarchar](50) NULL,
 CONSTRAINT [PK_TOBOMON] PRIMARY KEY CLUSTERED 
(
	[MATOBOMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TONGKET_KETQUA]    Script Date: 5/10/2016 11:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONGKET_KETQUA](
	[MAHOCSINH] [nchar](10) NULL,
	[KETQUA] [nvarchar](50) NULL,
	[HOCKY] [nchar](10) NULL,
	[NAMHOC] [nchar](10) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DANGNHAP] ([MAGIAOVIEN], [TENDANGNHAP], [MATKHAU], [MALOAI]) VALUES (N'GV001     ', N'admin                                             ', N'admin                                             ', N'ML001     ')
GO
INSERT [dbo].[DANGNHAP] ([MAGIAOVIEN], [TENDANGNHAP], [MATKHAU], [MALOAI]) VALUES (N'GV002     ', N'GV002                                             ', N'GV003                                             ', N'ML001     ')
GO
INSERT [dbo].[DANGNHAP] ([MAGIAOVIEN], [TENDANGNHAP], [MATKHAU], [MALOAI]) VALUES (N'GV003     ', N'GV003                                             ', N'GV003                                             ', N'ML001     ')
GO
SET IDENTITY_INSERT [dbo].[DIEM] ON 

GO
INSERT [dbo].[DIEM] ([STT], [MAHOCSINH], [MAMON], [HOCKY], [NAMHOC], [DIEMMON], [HESO]) VALUES (15, N'HS10A12   ', N'CONGNGHE10', N'1         ', N'2015-2016 ', 10, 2)
GO
INSERT [dbo].[DIEM] ([STT], [MAHOCSINH], [MAMON], [HOCKY], [NAMHOC], [DIEMMON], [HESO]) VALUES (22, N'HS10A18   ', N'TOAN10    ', N'1         ', N'2015-2016 ', 10, 1)
GO
INSERT [dbo].[DIEM] ([STT], [MAHOCSINH], [MAMON], [HOCKY], [NAMHOC], [DIEMMON], [HESO]) VALUES (26, N'HS10A19   ', N'NGUVAN10  ', N'1         ', N'2015-2016 ', 9, 1)
GO
SET IDENTITY_INSERT [dbo].[DIEM] OFF
GO
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [HOGIAOVIEN], [TENGIAOVIEN], [NGAYSINH], [GIOITINH], [DANTOC], [DIACHI_SONHA], [DIACHI_XA_PHUONG], [DIACHI_QUAN_HUYEN], [DIACHI_TINH_THANHPHO], [DIENTHOAI], [CHUCVU], [CHUYENMON], [MATOBOMON]) VALUES (N'GV001     ', N'Nguyễn', N'Khánh Phương', CAST(N'2016-05-24' AS Date), N'Nam', N'Kinh', N'', NULL, N'', N'', N'', N'Trưởng ban', N'', N'TOTOANTIN ')
GO
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [HOGIAOVIEN], [TENGIAOVIEN], [NGAYSINH], [GIOITINH], [DANTOC], [DIACHI_SONHA], [DIACHI_XA_PHUONG], [DIACHI_QUAN_HUYEN], [DIACHI_TINH_THANHPHO], [DIENTHOAI], [CHUCVU], [CHUYENMON], [MATOBOMON]) VALUES (N'GV002     ', N'Cao', N'Ngọc Trân', CAST(N'2016-04-30' AS Date), N'Nữ', N'Kinh', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'TOTOANTIN ')
GO
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [HOGIAOVIEN], [TENGIAOVIEN], [NGAYSINH], [GIOITINH], [DANTOC], [DIACHI_SONHA], [DIACHI_XA_PHUONG], [DIACHI_QUAN_HUYEN], [DIACHI_TINH_THANHPHO], [DIENTHOAI], [CHUCVU], [CHUYENMON], [MATOBOMON]) VALUES (N'GV003     ', N'Lê', N'Thị Xuyến', CAST(N'2016-10-20' AS Date), N'Nữ', N'Kinh', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'TOVANSUDIA')
GO
INSERT [dbo].[HANHKIEM] ([MAHOCSINH], [XEPLOAIHANHKIEM], [HOCKY], [NAMHOC]) VALUES (N'HS10A12   ', N'Tot', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[HANHKIEM] ([MAHOCSINH], [XEPLOAIHANHKIEM], [HOCKY], [NAMHOC]) VALUES (N'HS10A18   ', N'tot', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[HANHKIEM] ([MAHOCSINH], [XEPLOAIHANHKIEM], [HOCKY], [NAMHOC]) VALUES (N'HS10A19   ', N'Tot', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC]) VALUES (N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC]) VALUES (N'1         ', N'2016-2017 ')
GO
INSERT [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC]) VALUES (N'1         ', N'2018-2019 ')
GO
INSERT [dbo].[HOCLUC] ([MAHOCSINH], [XEPLOAIHOCLUC], [HOCKY], [NAMHOC]) VALUES (N'HS10A12   ', N'Gioi', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[HOCLUC] ([MAHOCSINH], [XEPLOAIHOCLUC], [HOCKY], [NAMHOC]) VALUES (N'HS10A18   ', N'Kha', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[HOCLUC] ([MAHOCSINH], [XEPLOAIHOCLUC], [HOCKY], [NAMHOC]) VALUES (N'HS10A19   ', N'Gioi', N'1         ', N'2015-2016 ')
GO
SET IDENTITY_INSERT [dbo].[HOCSINH] ON 

GO
INSERT [dbo].[HOCSINH] ([STT], [MAHOCSINH], [MALOP], [HOHOCSINH], [TENHOCSINH], [GIOITINH], [NGAYSINH], [NOISINH], [DANTOC], [DIACHI_SONHA], [DIACHI_XA_PHUONG], [DIACHI_QUAN_HUYEN], [DIACHI_TINH_THANHPHO], [HOTENCHA], [HOTENME], [NGHENGHIEPCHA], [NGHENGHIEPME], [DIENTHOAI], [GHICHU]) VALUES (15, N'HS10A111  ', N'2015L10A2 ', N'Nguyễn', N'Khang', N'Nam', CAST(N'0001-01-01' AS Date), N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
GO
INSERT [dbo].[HOCSINH] ([STT], [MAHOCSINH], [MALOP], [HOHOCSINH], [TENHOCSINH], [GIOITINH], [NGAYSINH], [NOISINH], [DANTOC], [DIACHI_SONHA], [DIACHI_XA_PHUONG], [DIACHI_QUAN_HUYEN], [DIACHI_TINH_THANHPHO], [HOTENCHA], [HOTENME], [NGHENGHIEPCHA], [NGHENGHIEPME], [DIENTHOAI], [GHICHU]) VALUES (2, N'HS10A12   ', N'2015L11A1 ', N'Nguyễn', N'Khánh Phương', N'Nam', CAST(N'2010-07-08' AS Date), N'Cà Mau', N'Kinh', N'615', N'A', N'B', N'Cà Mau', N'Nguyễn Khánh Nam', N'Trần Phương Phương', N'Kinh Doanh', N'Kinh Doanh', N'0912345678', N'')
GO
INSERT [dbo].[HOCSINH] ([STT], [MAHOCSINH], [MALOP], [HOHOCSINH], [TENHOCSINH], [GIOITINH], [NGAYSINH], [NOISINH], [DANTOC], [DIACHI_SONHA], [DIACHI_XA_PHUONG], [DIACHI_QUAN_HUYEN], [DIACHI_TINH_THANHPHO], [HOTENCHA], [HOTENME], [NGHENGHIEPCHA], [NGHENGHIEPME], [DIENTHOAI], [GHICHU]) VALUES (8, N'HS10A18   ', N'2015L10A2 ', N'Nguyễn', N'Thanh Vũ', N'Nam', CAST(N'2010-03-10' AS Date), N'Đồng Tháp', N'Kinh', N'610', N'tân đông B', N'Thanh Bình', N'Đồng Tháp', N'Nguyễn Thanh Hào', N'Lê Trang Nhã', N'kinh doanh', N'may', N'0939123456', NULL)
GO
SET IDENTITY_INSERT [dbo].[HOCSINH] OFF
GO
INSERT [dbo].[KHOILOP] ([MAKHOI], [TENKHOI]) VALUES (N'KHOI10    ', N'Khối 10')
GO
INSERT [dbo].[KHOILOP] ([MAKHOI], [TENKHOI]) VALUES (N'KHOI11    ', N'Khối 11')
GO
INSERT [dbo].[KHOILOP] ([MAKHOI], [TENKHOI]) VALUES (N'KHOI12    ', N'Khối 12')
GO
INSERT [dbo].[LOP] ([MALOP], [MAKHOI], [TENLOP], [MAGIAOVIEN], [SISO], [HOCKY], [NAMHOC]) VALUES (N'2015L10A2 ', N'KHOI10    ', N'Lớp 10a2', NULL, 35, N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[LOP] ([MALOP], [MAKHOI], [TENLOP], [MAGIAOVIEN], [SISO], [HOCKY], [NAMHOC]) VALUES (N'2015L10A3 ', N'KHOI10    ', N'Lớp 10a3', NULL, 35, N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[LOP] ([MALOP], [MAKHOI], [TENLOP], [MAGIAOVIEN], [SISO], [HOCKY], [NAMHOC]) VALUES (N'2015L10A4 ', N'KHOI10    ', N'Lớp 10a4', N'GV001     ', 30, N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[MONHOC] ([MAMON], [TENMON], [SOTIET], [HESO]) VALUES (N'CONGNGHE10', N'Công Nghệ 10', 80, 1)
GO
INSERT [dbo].[MONHOC] ([MAMON], [TENMON], [SOTIET], [HESO]) VALUES (N'CONGNGHE11', N'Công Nghệ 11', 80, 1)
GO
INSERT [dbo].[MONHOC] ([MAMON], [TENMON], [SOTIET], [HESO]) VALUES (N'DIALY10   ', N'Địa Lý 10', 80, 1)
GO
INSERT [dbo].[PHANCONGGIAOVIEN] ([MAGIAOVIEN], [MAMON], [MALOP], [HOCKY], [NAMHOC]) VALUES (N'GV001     ', N'TOAN10    ', N'2015L10A2 ', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[PHANCONGGIAOVIEN] ([MAGIAOVIEN], [MAMON], [MALOP], [HOCKY], [NAMHOC]) VALUES (N'GV002     ', N'TOAN11    ', N'2015L11A2 ', N'1         ', N'2015-2016 ')
GO
INSERT [dbo].[PHANQUYEN] ([MALOAI], [TENLOAI]) VALUES (N'ML001     ', N'Admin')
GO
INSERT [dbo].[TOBOMON] ([MATOBOMON], [TENBOMON]) VALUES (N'TOTOANTIN ', N'Tổ Toán -Tin')
GO
INSERT [dbo].[TOBOMON] ([MATOBOMON], [TENBOMON]) VALUES (N'TOVANSUDIA', N'Tổ Văn - Sử - Địa')
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_GIAOVIEN] FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_GIAOVIEN]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_PHANQUYEN] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[PHANQUYEN] ([MALOAI])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_PHANQUYEN]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCKY_NAMHOC] FOREIGN KEY([HOCKY], [NAMHOC])
REFERENCES [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCSINH] FOREIGN KEY([MAHOCSINH])
REFERENCES [dbo].[HOCSINH] ([MAHOCSINH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCSINH]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_TOBOMON] FOREIGN KEY([MATOBOMON])
REFERENCES [dbo].[TOBOMON] ([MATOBOMON])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_TOBOMON]
GO
ALTER TABLE [dbo].[HANHKIEM]  WITH CHECK ADD  CONSTRAINT [FK_HANHKIEM_HOCKY_NAMHOC] FOREIGN KEY([HOCKY], [NAMHOC])
REFERENCES [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC])
GO
ALTER TABLE [dbo].[HANHKIEM] CHECK CONSTRAINT [FK_HANHKIEM_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[HANHKIEM]  WITH CHECK ADD  CONSTRAINT [FK_HANHKIEM_HOCSINH] FOREIGN KEY([MAHOCSINH])
REFERENCES [dbo].[HOCSINH] ([MAHOCSINH])
GO
ALTER TABLE [dbo].[HANHKIEM] CHECK CONSTRAINT [FK_HANHKIEM_HOCSINH]
GO
ALTER TABLE [dbo].[HOCLUC]  WITH CHECK ADD  CONSTRAINT [FK_HOCLUC_HOCKY_NAMHOC] FOREIGN KEY([HOCKY], [NAMHOC])
REFERENCES [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC])
GO
ALTER TABLE [dbo].[HOCLUC] CHECK CONSTRAINT [FK_HOCLUC_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[HOCLUC]  WITH CHECK ADD  CONSTRAINT [FK_HOCLUC_HOCSINH] FOREIGN KEY([MAHOCSINH])
REFERENCES [dbo].[HOCSINH] ([MAHOCSINH])
GO
ALTER TABLE [dbo].[HOCLUC] CHECK CONSTRAINT [FK_HOCLUC_HOCSINH]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_LOP]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_GIAOVIEN] FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_GIAOVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOCKY_NAMHOC] FOREIGN KEY([HOCKY], [NAMHOC])
REFERENCES [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOILOP] FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOILOP] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOILOP]
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGGIAOVIEN_GIAOVIEN] FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN] CHECK CONSTRAINT [FK_PHANCONGGIAOVIEN_GIAOVIEN]
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGGIAOVIEN_HOCKY_NAMHOC] FOREIGN KEY([HOCKY], [NAMHOC])
REFERENCES [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC])
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN] CHECK CONSTRAINT [FK_PHANCONGGIAOVIEN_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGGIAOVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN] CHECK CONSTRAINT [FK_PHANCONGGIAOVIEN_LOP]
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGGIAOVIEN_MONHOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[PHANCONGGIAOVIEN] CHECK CONSTRAINT [FK_PHANCONGGIAOVIEN_MONHOC]
GO
ALTER TABLE [dbo].[TONGKET_KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_TONGKET_KETQUA_HOCKY_NAMHOC] FOREIGN KEY([HOCKY], [NAMHOC])
REFERENCES [dbo].[HOCKY_NAMHOC] ([HOCKY], [NAMHOC])
GO
ALTER TABLE [dbo].[TONGKET_KETQUA] CHECK CONSTRAINT [FK_TONGKET_KETQUA_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[TONGKET_KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_TONGKET_KETQUA_HOCSINH] FOREIGN KEY([MAHOCSINH])
REFERENCES [dbo].[HOCSINH] ([MAHOCSINH])
GO
ALTER TABLE [dbo].[TONGKET_KETQUA] CHECK CONSTRAINT [FK_TONGKET_KETQUA_HOCSINH]
GO
USE [master]
GO
